doctype html
html
	head 
		title VidChat Player
		if useExternalStyles 
			link(rel="stylesheet", href="/dist/application.css")
	body 
		h1 Hello World
		script(src="/dist/vendor.js")
		script(src="/dist/application.js")