doctype html
html
	head 
		title VidChat Player
		if useExternalStyles 
			link(rel="stylesheet", href="/dist/application.css")
	body 
		.site-wrap
			.col.left 
				section.users
					h1
						i.fa-solid.fa-spinner.fa-spin
			.col.center
				section.player
					h1 
						i.fa-solid.fa-spinner.fa-spin
				section.chat 
					h1 
						i.fa-solid.fa-spinner.fa-spin
			.col.right
				section.playlist 
					h1 
						i.fa-solid.fa-spinner.fa-spin

		script(src="/dist/vendor.js")
		script(src="/dist/application.js")